h1{
  text-align: center;
}
#game-screen{
  height: 700px;
  background-image: linear-gradient(to bottom, lightblue 60%, green);
}

.deer{
  background-color: red;
  height:30px;
  position: relative;
  left: 550px
}

.bush{
  background-color: orange;
  height:120px;
  position:relative;
  top: 420px;
  left: 452.5px;
}

.menu, .player-Info{
  background-color: green;
}

.menu{
  height:76px;
}

#start{
  background-color: lightgreen;
}

.again{
  background-color: green;
  height: 76px;
}

#reset{
  background-color: lightgreen;
}

.player-Info{
  font-size: 20px;
}
