h1{
  text-align: center;
}

#game-screen{
  height: 700px;
  background-image: linear-gradient(to bottom, lightblue 30%, green);
}

.deer{
  background-image:url(../images/deer.gif);
  background-size: cover;
  background-position: center;
  height:100px;
}

#deer1{
  position: relative;
  left: 665px;
}

#deer2{
  position: relative;
  left:200px;
}

#deer3{
  position: relative;
  left: 700px;
}

#deer4{
  position: relative;
  left: -200px;
}

.bush{
  background-image: url(../images/bush.png);
  background-size: cover;
  background-position: center;
  height:120px;
  width:150px;

}

#bush1{
  position:relative;
  top: 420px;
  left: 265px;
}

#bush2{
  position: relative;
  top:530px;
  left:-260px;
}

#bush3{
  position: relative;
  top: 460px;
  left: 190px;
}

#bush4{
  position: relative;
  top: 280px;
  left: -760px;
}

.menu, .player-Info{
  background-color: green;
}

.menu{
  height:76px;
}

#start{
  background-color: lightgreen;
}

.again{
  background-color: green;
  height: 76px;
}

#reset{
  background-color: lightgreen;
}

.player-Info{
  font-size: 20px;
}
